.header {
	background-color: var(--color-bg);
	display: flex;
	justify-content: space-between;
	padding: 0.3rem 0.5rem;
	padding-left: 1rem;
}
.toggle{
	background-color: transparent;
	font-size: 1.5rem;
	color: var(--color-scroll);
	cursor: pointer;
	transition: 100ms ease-out;
	padding-top: 5px;
}
.toggle:hover{
	transform: scale(1.1);
	color: var(--color-accent);
}

.filters {
	display: flex;
}
.filter {
	font-size: 1.4rem;
	margin: 0.6rem;
	background-color: transparent;
	color: var(--color-accent);
	text-transform: capitalize;
	opacity: 0.5;
	font-weight: bold;
	cursor: pointer;
} 

.filter:hover,
.filter.selected {
	opacity: 1;
  text-shadow: 0 0 3px rgba(255, 255, 255, .2);
}

